.container-fluid {
    padding: 0;
}

.h-18 {
    height: 18%;
}

.h-90 {
    height: 90%;
}


.w-10 {
    width: 10%;
}

.font-Dorsa {
    /* font-family: 'Teko', sans-serif; */
    font-family: 'Dorsa', sans-serif;
    font-weight: 400;
}

.text-gray {
    color: lightgray;
}

.fs-25vw {
    font-size: 20vw;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.min-w-241 {
    min-width: 310px;
}

.border-onlyleft {
    border-left: 1px solid;
}

.collapse {
    position: relative;
}

.content {
    position: absolute;
    right: 0;
    top: 0.5rem;
}

.content-img {
    height: 24px;
    opacity: 0.55;
}

.content-img:hover {
    opacity: 1;
}

.content-in {
    /* display: none; */
    position: absolute;
    right: -200;
    opacity: 0;
    top: 0.5rem;
}

/* Cat-1 */
.c1 {
    font-size: 70px;
    min-width: 80px;
}

.cat-1f {
    object-fit: contain;
}

.fs-1vw {
    font-size: 1vw;
}

@media screen and (max-width:575px) {
    .cat-1f {
        display: none;
    }

    .floor-1 {
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(./image/maine2.png);
        background-repeat: no-repeat;
        background-size: cover;
        /* background-position: center; */
        background-position: 80%;
    }

    .fs-1vw {
        font-size: 5vw;
    }

    .w-30 {
        width: 10%;
    }
}

/* Cat-2 */

.c2 {
    background-color: #f8f9f9;
    font-size: 70px;
}

.lineheight {
    line-height: 0.8;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #9e9f9f;
}

.w-80 {
    width: 80%;
}

.c2-flex-top-mid {
    width: 30%;
}

.c2-flex-top-end {
    width: 30%;
}

@media screen and (max-width:575px) {
    .w-80 {
        width: 100%;
    }
}

.c2-font {
    /* width: 15vw; */
    /* font-size: 180px; */
    font-size: 15vw;
}

.p1 {
    width: 40%;
}

.p2 {
    flex-grow: 1;
    width: 100%;


}

/* Cat-3 */
.c3 {
    background-image: url(./image/maine29.jpg);
    background-size: cover;
    background-position: bottom;
    /* object-fit: ; */
}

.c3-1 {
    font-size: 70px;
}

.c3-2 {}

@media screen and (max-width:575px) {
    .c3 {
        background-position: 60%;
    }

    .c3-2 {
        font-size: 5vw;
    }

    .w-40 {
        width: 80% !important;
    }

    .ps-5 {
        padding-left: 1rem !important;
    }
}

@media (min-width: 576px) {
    .ms-sm-5 {
        margin-left: 10rem !important;
    }
}

.c3-3 {
    font-size: 180px
}

.ps-5 {
    padding-left: 5rem !important;
}

/* Cat-4 */
.underline {
    flex-grow: 1;
    height: 1px;
    background-color: lightgray;
    margin-top: 75px;
}

.slick-prev:before,
.slick-next:before {
    color: #9e9f9f;
}

.slick-slide img {
    margin: 0.5rem auto;
}

.slick-track {
    height: 540px;
}

.slider img {
    opacity: 0.5;
    transform: scale(0.5);
}

.slick-center img {
    opacity: 1;
    transform: scale(1);
}

@media screen and (max-width:575px) {
    .slider img {
        opacity: 0.1;
        transform: scale(2);
        margin: 0 50px;

    }

    .slick-center img {
        opacity: 1;
        transform: scale(5);
        margin: 0 50px;
        z-index: 120;
    }
}

/* Cat-5 */
.c5 {
    /* background: url(./image/my3.jpg); */
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)), url(./image/my3.jpg);
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5)); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;   
}

.c5-3 {
    font-size: 180px;
    color: #fff;
}

.w-40{
    width: 40%;
}